:root{
  --bg: hsl(206, 94%, 87%);
  --text: hsl(213, 96%, 18%);
  --white: hsl(0, 100%, 100%);
  /* ### Primary */

--blue-950: hsl(213, 96%, 18%);
--purple-600: hsl(243, 100%, 62%);
--blue-300: hsl(228, 100%, 84%);
--blue-200: hsl(206, 94%, 87%);
--red-500: hsl(354, 84%, 57%);
}
html,body,#__next{height:100%;}
body{
  margin:0;
  font-family: 'Ubuntu', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  background:var(--blue-200);
  color:var(--text);
  -webkit-font-smoothing:antialiased;
}
.container{
  max-width:780px;
  margin:48px auto;
  padding:0 16px;
  background: var(--white);
  border-radius: 1rem;
}

h1{font-size:28px;margin:0 0 8px}
p{font-size:16px;color:rgba(0,0,0,0.7)}

/* Import Ubuntu font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
